
body {
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    margin: 0;
    padding: 0;
    margin: 0px;


}
html {
    zoom: 0%;
    box-sizing: border-box;
}
:root {
    --primary-color: #ffffff;
    /* Standard: Schwarz */
    --secondary-color: #000000;
    /* Standard: Weiß */
}


.banner{
    width: 100vw;
    height: 120px;
    border: var(--secondary-color) solid 2px;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
        font-size: 5rem;
            text-transform: uppercase;
            position: relative;
        color: var(--secondary-color);

}
#header{

    overflow: hidden;
}


.marquee {

    display: inline-block;
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


#page_settings{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}
#primary-color,
#secondary-color {
    width: 100px;
    height: 100px;
    border: var(--secondary-color) 2px solid;
    padding: 0%;
}
.no-border-radius {
    border-radius: 0%;
}
main {

    width: 100%;
    border: var(--secondary-color) 2px;
}

section {

    border: 2px solid var(--secondary-color);
    border-radius: 50;
    width: 100vw;
    height: 90vh;

}
#letterSection{
    overflow: scroll;
}



#alphabetContainer {
    display: flex;
flex-wrap: wrap;
flex-grow: calc();
    gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;

}

svg{
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    width:500px;
    height: 500px;
    transition: all 0.3s ease-in-out;
}

svg:hover {
width: 1000px;
transition: ease-in-out 1s;


}


.icon-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);

}



button{
            font-size: 2.5vmin;
                border: 3px solid black;
                background: var(--primary-color);
color: var(--secondary-color);
}
#letterSelect {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    width: 100%;
    margin-bottom: 20px;
}

#textCanvasContainer {
    border: 1px solid var(--secondary-color);
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#textCanvas {
    width: 100%;
    height: auto;
}
.no-border-radius {
    transition: all 1s ease;
    border-radius: 0 !important;
}


        

        
                #textCanvasContainer {
                    white-space: nowrap;
                    overflow-x: auto;
                }

                .letter-button{
                    width: 200px;
                    height: 200px;
                    background-color: none;
                    border-radius: 50%;
                    border: solid 2px var(--secondary-color);
                }

@use postcss-nested;

.shadow-button-set {
    margin: 0;
    gap: 2.5vmin;

    &>li {
        display: inline-flex;
        background: black;

        &:is(:hover, :focus-within)>button:not(:active) {
            --distance: -10px;
        }
    }

    & button {
        appearance: none;
        outline: none;
        font-size: 2.5vmin;
        border: 3px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: var(--primary-color);

        --distance: 0;
        transform: translateX(var(--distance)) translateY(var(--distance));

        @media (prefers-reduced-motion: no-preference) {
            will-change: transform;
            transition: transform .2s ease;
        }
    }
}

