
body {
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
}

*{
    border: solid 2px var();
}

:root {
    --primary-color: #ffffff;
    /* Standard: Schwarz */
    --secondary-color: #000000;
    /* Standard: Weiß */
}


.banner{
    width: 100vw;
    height: 30px;
    border-bottom: var(--secondary-color) solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    position: relative;
    color: var(--secondary-color);
    font-size: 1.5rem;

}




#page_settings{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#primary-color,
#secondary-color {
    width: 40px;
    height: 40px;
    border: var(--secondary-color) 2px solid;
    padding: 0%;
}





#alphabetContainer {
    display: flex;
flex-wrap: wrap;
flex-grow: calc();
    gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;

}

.letter-svg{
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    width:160px;
    height: 160px;
    transition: all 0.3s ease-in-out;
}

.letter-svg:hover {
width: 320px;
transition: ease-in-out 1s;
}









        

                .letter-button{
                    width: 50px;
                    height: 50px;

                    border-radius: 50%;

                    font-size: 2.5vmin;
                                    border: 2px solid var(--secondary-color);
                                    background: var(--primary-color);
                                    color: var(--secondary-color);
                }

@use postcss-nested;

.shadow-button-set {
    margin: 0;
    gap: 2.5vmin;

    &>li {
        display: inline-flex;
        background: var(--secondary-color);

        &:is(:hover, :focus-within)>button:not(:active) {
            --distance: -10px;
        }
    }

    & button {
        appearance: none;
        outline: none;
        font-size: 2vmin;
        border: 3px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: var(--primary-color);

        --distance: 0;
        transform: translateX(var(--distance)) translateY(var(--distance));

        @media (prefers-reduced-motion: no-preference) {
            will-change: transform;
            transition: transform .2s ease;
        }
    }
}


* {
    transition: border-radius 0.3s ease;
    /* Übergang für border-radius */
}

.nav-button{
    width: 100px;
    height:40px;
border-radius: 50%;
padding: 5px;
    border: 2px solid var(--secondary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
}
.main{
  height:  90vh;

}
.nav-container{
    height: 50px;
    width: 100%;
    border-bottom: var(--secondary-color) 2px solid;
    overflow: scroll;
    border: solid 1.5px var(--secondary-color);
}
.subnav-container{
    height: 12%;
        width: 100%;
    overflow: scroll;
}

.settings-container{
width: 15%;
height: 100%;

    font-size: 1.5rem;
}
.category-container{
width: 100%;
height: 85%;
display: flex;
    border: solid 1.5px var(--secondary-color);
}
.workspace{
   width:  85%;
   height: 100%;
    overflow: scroll;
    border-left: 1.5px solid 2px;
}
