
body {

    color:var(--secondary-color);
    margin: 0px;
    padding: 1px;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;

background-color: var(--primary-color);
}

*{
    font-family:monospace;
    font-family: 1.5rem;
    text-transform: uppercase;
}


:root {
    --primary-color: #ffffff;
    /* Standard: Schwarz */
    --secondary-color: #000000;
    /* Standard: Weiß */
}







#page_settings{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    width: 100%;

}
#primary-color,
#secondary-color {
    width: 30px;
    height: 30px;
    border: var(--secondary-color) 2px solid;
    padding: 0%;
}





#alphabetContainer {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;

    gap: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;

}

.letter-svg{
    border: var(--secondary-color) solid 2px;
    border-radius: 50%;
    width:150px;
    height: 150px;




  
}   
.letter-svg:hover{
scale: 150%;
margin:25px;
    transition: ease-in-out 2s;

}

                .letter-button{
                    width: 50px;
                    height: 50px;
                    background-color: #00000000;
                    border-radius: 50%;
                    border: 2px solid var(--secondary-color);
                    color: var(--secondary-color);
                }





    button {
        appearance: none;
        outline: none;
        font-size: 2vmin;
        border: 1.5px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: rgba(255, 222, 173, 0);

    }
button:active{
    box-shadow: 2px 2px var(--secondary-color);
scale: 95%;
}




* {
    transition: border-radius 0.3s ease;
    /* Übergang für border-radius */
}

.nav-button{
    width: 150px;
    height:50px;
    border: none;
}
.main{
  height:  95vh;


}
.nav-container{
    height: 50px;
    width: 100%;
    border-bottom: var(--secondary-color) 2px solid;
    overflow: scroll;
    border: solid 0.5px var(--secondary-color);
    display: flex;

                overflow-y: scroll;

}



.subnav-container {
    height: 50px;
    width: 100%;
    display: flex;
        flex-direction: row;
    border: solid 0.5px var(--secondary-color);
    overflow-x: scroll;

}



.settings-container{
width: 15%;
height: 100%;

    border-right: 1.5px solid var(--secondary-color);
    font-size: 1.5rem;
    overflow-y: scroll;
}


.category-container{
width: 100%;
height: 85%;
display: flex;
    border: solid 1.5px var(--secondary-color);
}
.workspace{
   width:  85%;
   height: 100%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    

}



#page_settings{
    width: 20%;
    height: 30px;
display: flex;
flex-direction: row-reverse;
border: red solid 1px;
padding: 10px;
margin-left: 1200px;

}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font: bold 1.5rem sans-serif;
    text-transform: uppercase;
    color: rgb(255, 0, 0);

}

ul li {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

ul li:hover {
    color: #fff;
}

ul li:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    /* 3px = the thickness */
    background: var(--secondary-color);
    /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

ul:hover li:before {
    scale: 1;
}

ul li:hover:before {
    translate: 0;
    transition: .3s;
}

ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

ul:hover li:hover~li:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.settingbox{
    display: grid;
    padding-top: 5px;
    text-decoration:underline;
width: 100%;
height: 80px;
border: #000000 solid 1px;

}

@keyframes hue {
    from {

    }

    to {
filter: hue-rotate(270deg);
    }
}
@keyframes test {
    from {transform: rotate3d(1,
                1,
                1,
                -10deg);}

    to {
        transform: rotate3d(1,
            1,
            1,
            50deg);

    }
}


